* {
    box-sizing: border-box;
}
.lorem {
    background: white;
    padding: 0 10px;
}
.scrollable {
    position: relative;
    overflow: hidden;
}

.scrollable-viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.scrollable-item {
    position: absolute;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
}
.scrollable-viewport .scrollable-item {
    width: 100%;
}

a {
    text-decoration: none;
}
