
.reminders .scrollable-viewport {
    background-color: #1C1C1C;
}

.reminders .scrollable-item {
    width: 100%;
}

.reminder-category {
    font-family: Helvetica Neue Light,Helvetica,Arial,sans-serif;
    background-color: white;
    background-image: url(list_bg.png);
    background-size: 20px 20px;
    border-radius: 8px;
    padding: 15px 18px;
    box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.25);
    height: 100%;
}
.reminder-category h1 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    text-shadow: -0.3px -1px 0px rgba(50,50,50,0.2), 1px 4px 6px #fff, 0 0 0 rgba(0,0,0,0.5), 1px 4px 6px #fff;
}
.reminder-category h3{
    margin: 2px 0;
    font-weight: normal;
    font-size: 15px;
}

.green {
    color: rgba(104, 216, 69, 1);
}
.blue {
    color: rgba(42, 174, 245, 1);
}
.pink {
    color: rgba(252, 47, 106, 1);
}
.brown {
    color: rgba(161, 132, 96, 1);
}
.yellow {
    color: rgba(233, 186, 43, 1);
}
.orange {
    color: rgba(253, 148, 39, 1);
}
.purple {
    color: rgba(203, 119, 223, 1);
}
